<div class="os-landing-container">
  <!-- landing section -->
  <app-header></app-header>

<section id="landing" class="os-landing-section">
  <div class="overlay-wrapper"></div>
  <div class="inner-container">

    <div class="my-image">
      <img src="../../../assets/images/image50.jpg" alt="">
    </div>
    <div class="desc">
      <h1>Hi There! I am
        <span class="my-name">Osama Essayed</span>
        and I am a
        <span class="my-title">Full Stack</span>
        Developer</h1>
        <p>I can build robust,
          scalable,
          responsive,
          interactive
          and performant web
          applications with ease.</p>

          <button>More About Me</button>
        </div>



      </div>

</section>

<!-- about me section -->

<!-- services section -->


<!-- projects section -->


<!-- contact footer and social links - contact section -->

</div>
