:root{
  // Colors
  --dark-color:#202020;
  --light-color:#eee;
  --hover-text-color:#afafaf;
  --name-color:#3e87cb;
  // Fonts vars
  --cairo-bold:'cairo-bold';
  --cairo-regular:'cairo-regular';
  --cairo-medium:'cairo-medium';
  --cairo-semibold:'cairo-semibold';
  --cairo-light:'cairo-light';

  // margins


  // paddings


  // font sizes


  // border


  // box shadow
}
