<header class="os-header">
  <div class="inner-container">

    <img src="../../../../../assets/logos/logo-transparent-png.png" alt="">
    <nav>
      <ul>
        <li><a href="#landing">
          Home
        </a></li>
        <li><a href="#about">
          About
        </a></li>
        <li><a href="#services">
          Services
        </a></li>
        <li><a href="#projects">
          Projects
        </a></li>
        <li><a href="#contact">
          Contact
        </a></li>
      </ul>
    </nav>
  </div>
</header>
